<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button/accept_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,81}</string>
                <key>spriteSourceSize</key>
                <string>{225,81}</string>
                <key>textureRect</key>
                <string>{{1,85},{225,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,81}</string>
                <key>spriteSourceSize</key>
                <string>{225,81}</string>
                <key>textureRect</key>
                <string>{{1,168},{225,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/closebt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{124,1152},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,81}</string>
                <key>spriteSourceSize</key>
                <string>{225,81}</string>
                <key>textureRect</key>
                <string>{{1,251},{225,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/exchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,81}</string>
                <key>spriteSourceSize</key>
                <string>{225,81}</string>
                <key>textureRect</key>
                <string>{{1,334},{225,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/go.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,81}</string>
                <key>spriteSourceSize</key>
                <string>{225,81}</string>
                <key>textureRect</key>
                <string>{{1,417},{225,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/go1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,81}</string>
                <key>spriteSourceSize</key>
                <string>{225,81}</string>
                <key>textureRect</key>
                <string>{{1,417},{225,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{124,1237},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/menu_back_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,69}</string>
                <key>spriteSourceSize</key>
                <string>{193,69}</string>
                <key>textureRect</key>
                <string>{{1,1081},{193,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/menu_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{124,1322},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/menu_upgrade_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,81}</string>
                <key>spriteSourceSize</key>
                <string>{225,81}</string>
                <key>textureRect</key>
                <string>{{1,500},{225,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/menu_upgrade_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,81}</string>
                <key>spriteSourceSize</key>
                <string>{225,81}</string>
                <key>textureRect</key>
                <string>{{1,583},{225,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/menu_upgrade_max.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,82}</string>
                <key>spriteSourceSize</key>
                <string>{235,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{235,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,81}</string>
                <key>spriteSourceSize</key>
                <string>{225,81}</string>
                <key>textureRect</key>
                <string>{{1,666},{225,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,81}</string>
                <key>spriteSourceSize</key>
                <string>{225,81}</string>
                <key>textureRect</key>
                <string>{{1,749},{225,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,121}</string>
                <key>spriteSourceSize</key>
                <string>{337,121}</string>
                <key>textureRect</key>
                <string>{{1,1152},{337,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button/rankBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{124,1407},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/restart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,81}</string>
                <key>spriteSourceSize</key>
                <string>{225,81}</string>
                <key>textureRect</key>
                <string>{{1,832},{225,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/retry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,81}</string>
                <key>spriteSourceSize</key>
                <string>{225,81}</string>
                <key>textureRect</key>
                <string>{{1,915},{225,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,81}</string>
                <key>spriteSourceSize</key>
                <string>{225,81}</string>
                <key>textureRect</key>
                <string>{{1,998},{225,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/settings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{1,1491},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{86,1492},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{237,1576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:799a748ba17758f5543228e2222d08eb:d24d14f6d8d2d1736be66e80d84f97fa:1854a1d167269096d09aabff2abc0569$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
