<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>num11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{137,242}</string>
                <key>spriteSourceSize</key>
                <string>{491,450}</string>
                <key>textureRect</key>
                <string>{{253,701},{137,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{187,250}</string>
                <key>spriteSourceSize</key>
                <string>{491,450}</string>
                <key>textureRect</key>
                <string>{{1,651},{187,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{189,250}</string>
                <key>spriteSourceSize</key>
                <string>{491,450}</string>
                <key>textureRect</key>
                <string>{{320,449},{189,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{487,446}</string>
                <key>spriteSourceSize</key>
                <string>{491,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{487,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numGo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{317,200}</string>
                <key>spriteSourceSize</key>
                <string>{491,450}</string>
                <key>textureRect</key>
                <string>{{1,449},{317,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>countdown.png</string>
            <key>size</key>
            <string>{510,839}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68f5ceebcbf415749fede68b335cac28:b0e095bcae4cfd8da482d8bb9695db3e:91c9a4d612eb4d3a214a2580741daba8$</string>
            <key>textureFileName</key>
            <string>countdown.png</string>
        </dict>
    </dict>
</plist>
