<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level/bg_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,35}</string>
                <key>spriteSourceSize</key>
                <string>{54,35}</string>
                <key>textureRect</key>
                <string>{{1,670},{54,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level/bronze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1,135},{62,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level/bronze1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{57,53}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1,450},{57,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level/gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1,199},{62,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level/gold1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{57,53}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1,505},{57,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level/silver 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{57,53}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1,560},{57,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level/silver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1,263},{62,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level/stageTime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{1,391},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level/stageUnlock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1,327},{62,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level/stageUnlock1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{57,53}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1,615},{57,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level/star_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,65}</string>
                <key>spriteSourceSize</key>
                <string>{60,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level/star_grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,65}</string>
                <key>spriteSourceSize</key>
                <string>{60,65}</string>
                <key>textureRect</key>
                <string>{{1,68},{60,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>level.png</string>
            <key>size</key>
            <string>{62,706}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1dd909fbfa9aa4b4a085680e5c35547:9683b30d7e7095be6c136f51bdab45dd:2cfd3c2e1ff4d34d9c848b71ce57e187$</string>
            <key>textureFileName</key>
            <string>level.png</string>
        </dict>
    </dict>
</plist>
